In [1]:
import random
import pandas as pd

In [2]:
sources = [
    "google / cpc",
    "google / organic",
    "bing / cpc",
    "moviereviews / display",
    "direct / none",
    "yelp / referral"
]

In [21]:
traffic = random.choices(sources, weights=[20, 10, 3, 5, 15, 8], k=599)
ids = [(idx+1, x) for idx, x in enumerate(traffic)]
ids[:5]

[(1, 'direct / none'),
 (2, 'yelp / referral'),
 (3, 'yelp / referral'),
 (4, 'google / organic'),
 (5, 'moviereviews / display')]

In [19]:
df = pd.DataFrame(ids, columns=["user_id", "source"])
df.head()

   user_id            source
0        1      google / cpc
1        2        bing / cpc
2        3     direct / none
3        4   yelp / referral
4        5  google / organic

In [12]:
df.source.value_counts()

google / cpc              193
direct / none             138
google / organic           92
yelp / referral            91
moviereviews / display     57
bing / cpc                 28
Name: source, dtype: int64

In [16]:
df.to_csv("customer_sources.csv", sep = ",", index=False, header=False)

In [17]:
# copy to postgres on docker
!docker cp ./customer_sources.csv advanced_sql:/var/lib/postgresql/dvd_db

Preparing to copy...Copying to container - 0BSuccessfully copied 13.3kB to advanced_sql:/var/lib/postgresql/dvd_db